html,body{
	min-width: 1400px;/*ПИСАТЬ ЛУЧШЕ МИНВИДТХ */
	height: 7770px;
	padding: 0;
	margin:0;
}

body{
	
}


.clearfix::after{
	content: "";
	display: table;
	clear:both;
}

.container{
	width: 1170px;

	margin:0 auto;

}


p{
	font-family: 'Lato', sans-serif;
	color: #8c8f94;
}


header{
	
	background: url("..//img/headerbg.jpg") no-repeat center top;
	height:1000px;
}


.main-navigation{
	font-family: 'Lato', sans-serif;

	height: 70px;
	padding-top: 60px;
	margin-bottom: 120px;
}

.main-navigation ul{
	padding: 0;
	font-size: 0;
	margin:0;
	list-style: none;

}

.Right-menu{
	float:right;
}

.Left-menu{
	float:left;
}

.main-navigation li{
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	
}


.main-navigation a{
	display: block;
	padding: 0 40px;
	color:#26272d;
	text-decoration: none;
}

.main-navigation a:hover{
	color:#b5b5b6;
}

#GetApp{
	margin-top: -15px;
	background: #267df4;
	color: #fff;
	padding: 14px 24px 14px 48px;
	border-radius: 21px;
}

.fa-apple::before{
	position: relative;
	right: 20px;
	font-size: 20px;
	color: #fff;
}

.fa-bars{
	position: relative;
	right: 380px;
	font-size: 20px;
	color: #000;
}

.Logo{
	text-transform: uppercase;
	font-size: 20px;
	color:#3e3f45; 
	display: block;
	position: relative;
	left: 100px;
	text-align: center;

}


.bold{
	font-weight: bold;
	color: #000;
}

.Whats{
	text-align: center;
}

.Whats h1{
	font-family: 'Varela Round', sans-serif;
	font-size: 62px;
	text-align: center;
}

.Whats p{
	text-align: center;
	width: 780px;
	font-size: 20px;
	margin:0 auto;
	margin-bottom: 55px;
}

.Whats a{
	padding: 18px 47px 18px 67px;
	border: 1px solid #dddfe1;
	text-decoration: none;
	color: #26272d;
	border-radius: 50px;
	font-size: 16px;
	
}

.fa-play::before{
	position: relative;
	right: 160px;
}

.features{
	
	height: 600px;
	margin: 120px auto;
margin-bottom: 40px;
}

.fea{
width: 540px;

}
.fea p{
	font-size: 18px;
}


.fea h4{
	font-weight: lighter;
	font-size: 26px;
	font-family: "Lato",sans-serif;

}

.left{
	float: left;
	padding-left: 35px;
}

.right{
	padding-right: 35px;
	float:right;
}

.rect1{
	outline: 1px solid #f4f4f4;
	position: relative;
	top: 520px;

}

.iphonefeatures{
	
	
	background: #fff url("../img/iPhone6fe.jpg") no-repeat center top;
	height: 900px;
}

.block-features{
	width: 470px;
position: relative;
top: 220px;
left: 700px;
}



.block-features b{
	font-family: 'Varela Round', sans-serif;
	font-size: 42px;
	
}

.block-features p{
	font-size: 20px;
}

.P-margin1{
	margin-top:75px; 
}
.P-margin2{
	margin-top: 40px;
	margin-bottom: 70px;
}

.block-features a{
	border-radius: 21px;
	text-decoration: none;
	font-size: 16px;
	color:#26272d;

	font-family: "Lato",sans-serif;
	border: 1px solid #e9e9ea;
}

.block-features a:hover{
	color: #fff;
	border: 1px solid #267df4;
	background-color: #267df4;
}

.try{
	padding: 14px 78px 14px 26px;
}

.learn{
	padding: 14px 30px;
}

.fa-arrow-right::before{
	position: relative;
 right: 40px;
 color: #fff;
}

.everywere{
	height: 900px;
	background: #fff url("../img/World.jpg") no-repeat center top;
	
	
}

.part{
	left:0;

}


.block-features img{
	margin-right: 26px;
	
}

.screens{
	height: 1750px;
	background: #f5f5f8 url("../img/Screens.jpg") no-repeat center top;
	
	
	
}

.interface {
text-align: center;
position: relative;
	top: 140px;


}

.interface b{  
	margin-top: 140px;
font-family: "Varela Round",sans-serif;
	font-size: 42px;
	
}

.rect2{
	width: 50px;
	outline: 1px solid #267df4;
	display: block;
	position: relative;
	top:45px;
	left: 560px;
}

.interface p{
	font-family: "Lato",sans-serif;
	font-weight: bolder;
	margin-top: 90px;
	font-size: 12px;
	color: #8c8f94;
	
}


.Get{
	text-align: center;
	margin-top: 1100px;
}

.Get-provid{
	font-family:"Lato", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.new{
	font-weight: bold;
}

.getb{
	font-size: 42px;
	font-family: "Varela Round",sans-serif;
	margin-top: 28px;
	
}

.Form-email{
	margin-top: 55px;

}
.Form-email input{
	border-radius: 25px;
	border: 1px solid #cbcbce;
	padding: 18px 300px 18px 26px;
	font-weight: bold;
	font-size: 16px;
	font-family: "Lato",serif;
	outline: none;
}

.download-p{
	margin-top: 20px;
	color: #d4d5d9;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Lato",serif;
}

.Send{
	color: #fff;
	border-radius: 21px;
	background-color: #6fc754;
	padding: 15px 54px 15px 30px;
	font-size: 16px;
	text-transform: capitalize;
	outline: none;
	cursor: pointer;
	display: inline-block;

	font-family:"Lato", sans-serif; 
	position: relative;
	top: -53px;
	left: 173px;
}


.second::before{
	position: relative;
 left:135px;
 top: -53px;

 color: #fff;
}

.appstore{
	margin-top: 20px;
	/*padding: 15px 40px 13px 70px;*/
	outline: none;
	background-color: #131315;
	color: #fff;

	text-decoration: none;
	border-radius: 30px;
	font-size: 23px;
	height: 62px;
	width: 210px;
}


.appstore-d{
	font-size: 12px;
	font-family: "Lato",sans-serif;
}

.donl::before{
	position: relative;
	top:15px;
	left: 40px;
	font-size: 20px;
}


.customers{
	height: 750px;
}

.customers-container{

	width: 600px;
	margin: 130px auto;
	text-align: center;
	font-family: "Lato",sans-serif;
}

.customers-container h5{
	font-weight: lighter;
	font-size: 32px;
}

.customers-container p{
	font-size: 20px;
}

.customers-img{
	width: 570px;

	display: inline-block;
}
.customers-img img:first-child{
	float: left;
}

.customers-img img:last-child{
	float: right;
}
.customers-img img:nth-child(2n){
	
}




.customers-container b{
	position: relative;
	top: 65px;
	font-size: 12px;
	text-transform: uppercase;
}

.fa-star{
	margin-top: 35px;

	color: #f2bc3b;
}