html,body{
	min-width: 960px;
	min-height: 1750px;
	margin: 0;padding: 0;
	
}

body{
			background-size:1122px auto;
			font-family: 'PT Sans Narrow', "Arial", sans-serif;
			font-weight: 700;
			line-height: 24px;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			background:#000000 url("../img/bg.jpg") no-repeat center top;
}


.clearfix::after{ 
	content: "";             /*Обнуление margin*/
	display: table;
	clear: both;
}

.container{
	width: 940px;
	padding: 0 10px; /*Нулевой вернхний,нижний отступ и минимальные отступы побокам*/
	margin: 0 auto; /*Нулевой вернхний,нижний отступ и цетровка по середине*/
}

.main-navigation{ 
	width:790px;
	min-height: 70px;
	float: left;
}

.main-navigation a {
	color: #fff; /*Еще раз надо прописать /не унаследуется для ссылок говно/*/
	text-decoration: none;
	display: block;/*Чтобы работали отступы*/
	padding: 25px 20px;/*Отступы для ссылок*/

}

.main-navigation li a:hover{
	background-color: #242424;
}

.main-navigation li {
	display: inline-block;/*Выравнивание по горизонтали /блок в строчку/*/
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;

}

.main-navigation .active{
	position: relative;
	background-color: none;
}
.main-navigation .active::after{
	content: "";
	position: absolute;
	right: 20px;
	left:20px;
	bottom: 0px;
	
	height: 5px;
	background-color:#fff;
}

.main-navigation .active span{
	display: block;
	padding: 25px 20px;
}

.main-navigation .active a:hover{
	background: none;
}

.main-navigation ul {
	list-style: none; /*Нет точек в списке*/
	margin:0;
	padding: 0;	
	font-size: 0; /*Переопределение размера шрифта /узбавление от пробелов/*/
}

.logo-inner {
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 22px;
}

.logo-inner img{
	width: 111px;
	height: 24px;
	
}

.logo-inner:hover{
	background: none;
}

.user-block{
	max-width: 140px; /*ширина блока вход */
	min-height: 70px;	/*Минимальный размер блока входа */
	float: right; /*Прибитие к правому краю*/

}

.login::before{
	content: "";
	position: absolute;
	top:28px;
	left:20px;


	width: 18px;
	height: 18px;


	background:url("img/icon-login.png") no-repeat; 
	background-position: -1px -15px;
	opacity: 0.3;
 
}

.login:hover::before{
	opacity: 1;
}


.login{	
	position:relative;
	display: inline-block;
	padding: 25px 20px;
	padding-left: 50px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	vertical-align: top;
}

.login:hover{background-color: #242424;}


.main-header{
	margin-bottom: 60px;
	background-color: #000;
	color: #fff;
}

.inner-page .main-header{
	margin-bottom: 55px;
}

.inner-page-title{
	margin-bottom: 55px;
}

.inner-page-title h1{
	margin-bottom: 20px;
	margin:0;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin:0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li{
	position: relative;
	display: inline;
	padding-right: 40px;
}

.breadcrumbs a{
	color: #000;
	text-decoration: none;
}

.breadcrumbs a:hover{
	text-decoration: underline;
}

.breadcrumbs .current{
	color: #aba9a7;
}


.breadcrumbs li::after{
	content: "";
	position: absolute;
	top:4px;
	right: 15px;

	transform: rotate(45deg);

	width: 8px;
	height: 8px;
	background-color: #000;

}

.breadcrumbs .current::after{
	display: none;
}

.inner-content{
	margin-bottom: 75px;
}
.inner-content h2{
	margin-top: 60px;
	margin-bottom:30px; 

	font-size: 24px;
	
	line-height: 30px;
}

.big-heading{
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}
.big-heading h2{
	position: relative;
	display: inline;

	margin:0;
	padding: 0 25px;
	font-size: 48px;

	line-height: 48px;
	text-align: center;

	z-index: 2;
	background: #f8f3f0 url("../img/bg2.jpg") repeat ;
}

.big-heading::after{
	content: "";
	display: block;
	position: relative;
	top:-25px;
	z-index: 1;
	border-bottom: 2px solid #000;
}

.inner-content p{
	margin:14px 0;
}
.inner-content table{
	border-collapse: collapse;
}
.inner-content td{
	border:2px solid #000;
	padding: 10px 15px; 
}

.price-table{
	width: 100%;

}
.price-table td{
	width: 50%;
}
.price-table td:last-child{
	text-align: center;
}

.custom-list-1{
margin:14px 0;
padding: 0;
list-style: none;
}

.custom-list-1 li{
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}

.custom-list-1 li::before{
	content: "";
	position: absolute;
	top:8px;
	left:0;

	transform: rotate(45deg);

	width: 8px;
	height: 8px;
	background-color: #000;

}

.inner-page{
	color: #000;
	background: #f8f3f0 url("../img/bg2.jpg") repeat ;
}

.index-logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom:25px; 
	
	}

.index-logo img {
	width: 368px;
	height: 204px;
}

.inner-columns{
	margin:60px 0;
}

.inner-columns-left,.inner-columns-right{
	width: 460px;
}

.inner-columns-left *:first-chlid,
.inner-columns-right *:first-chlid{
margin-top: 0;
}
.inner-columns-left *:last-chlid,
.inner-columns-right *:last-chlid{
margin-top: 0;
}

.short-text{
	padding-right: 80px;
}
.inner-columns-left{
	float: left;
}
.inner-columns-right{
	float: right;
}

.features-item{
	
	min-height:175px; /*Минимальная высота блока*/
	float: left; /*брибитие к левому блоку*/
	width: 300px; /*Ширина блоков*/
	margin-right: 20px; /*Отступ межу блоками*/
	text-align: center;
}

.features-item:last-child{margin-right: 0;}

.features{margin-bottom: 80px;}

.features-name{
	position: relative;
text-align: center;
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;  /*Отступ двойной паддинг+марджин + лайнхейт у заголовка /размеры примерные/ */
	padding-bottom: 35px;
}

.features-name::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	display: block;
	width: 20px; /*Размеры ромба /т.е квадрата /*/
	height: 20px;
	background-color: #fff;
	transform: rotate(45deg);

}

.features-item p {
	margin:10px;
	margin-bottom: 0;
}

.index-content{	
	padding: 50px 80px;
	margin-bottom: 35px; 
	color: #000;
	background: url("../img/shadow.png") no-repeat center,
	#f8f5f2 url("../img/bg-white.jpg");
}

.index-content-title{
	font-size: 30px;
	line-height: 42px;
	margin:0;
	margin-bottom: 25px;
}

.index-content p{
	margin:0;
	margin-bottom: 25px;
}

.news-preview{
	margin: 0;
	padding: 0;
	padding-right:35px;
	list-style: none; 
}

.news-preview li{
	margin-bottom: 25px;
}

.news-preview time{
	text-transform: none;
	font-weight: 400;
}

.news-preview p{
	margin-bottom: 0;
}

.index-content-right{
	min-height: 330px;
	float: right;
	width: 300px;
}
.index-content-left{
	min-height: 330px;
	float: left;
	width: 380px;
}

.btn{
	display: inline-block;
	padding: 10px 33px; /*отступы /размепы для кнопок/*/
	margin-right: 16px; /*отступ между кнопками*/
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', "Arial", sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	vertical-align: top;
	text-align: center;

}

.btn:hover,.btn:acthive{background-color: #663d15;}

.btn.disabled,.btn:disabled{
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,.btn:disabled:hover{
background-color: #000;
}

.gallery{
	position: relative;
	height: 260px;
}

.gallery-content{
	height: 164px;
	margin:0;
	background-color: #ccc;
	border:7px solid #fff ;
}

.gallery-content img{
	width: 286px;
	height: 164px;
}

.gallery .btn{
	position: absolute;
	bottom: 0;
	width: 140px;
	margin:0;
}

.gallery-prev{
	left: 0;
}
.gallery-next{
	right: 0;
}


.appointment-form input{
	background-color: #f9f6f3;
	border:2px solid #000;
	outline:none;

	float: left;
	width: 106px;
	padding: 7px 15px;

	margin-right: 18px;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', "Arial", sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.appointment-form input:nth-child(2n){
	margin-right: 0;
}
.appointment-form .btn {
	clear:both;
	width: 100%;
}

.appointment-form input:focus{
	border: 2px solid #663d15;
}

.main-footer{

	margin-top:65px;
	padding-top: 60px;    /* Внутренние отступы */
	padding-bottom: 40px;    
	color: #fff;
	background:#252525 url("../img/footer.jpg"); 
}

.footer-contacts{
	float: left;
	min-height: 90px;
	width: 320px;
	margin-right: 60px;
}

.footer-contacts a{
	color: #fff;
}
.footer-contacts a:hover{
	text-decoration: none;
}

.footer-sosial p {
	margin-bottom: 15px;
	margin:0;
}

.footer-sosial{	
	
	width: 180px;
	float: left;
	text-align: center; 
}

.footer-copyright{
	
		float: right;
		max-width: 180px;
		
	}

.footer-copyright p{
	margin:0;
	margin-bottom: 15px;
	text-align: center;
}

.footer-copyright .btn {
	margin-right: 0;
}

.social-btn{
		display: inline-block;
		width: 43px;
		height: 43px;
		margin:0 2px;

		font-size: 0;
		vertical-align: top;
		text-decoration: none;

		background: #000 url("img/so.png") no-repeat center;
	}

.social-btn:hover{
	background-color: #fff;
}

.social-btn-vk{
	background-position: 9px -441px;
}

.social-btn-fb{
	background-position: 15px -171px;
}
.social-btn-inst{
	background-position: 12px -313px;
}	

.social-btn-vk:hover{
	background-position: 9px -381px;
}

.social-btn-fb:hover{
	background-position: 15px -100px;
}
.social-btn-inst:hover{
	background-position: 12px -242px;
}


/*ВСПЛЫВАЮЩЕЕ ОКНО*/

.modal-content{
	position: absolute;
	top:120px;
	left:50%;
	margin-left: -230px;

	width: 300px;
	padding: 50px 80px;
	
box-shadow: 0 30px 50px rgba(0,0,0,0.7);
	
	color:#000;
	background: #f8f3f0 url("../img/bg2.jpg") repeat ;

	display: none;
}

.modal-content-close{
	position: absolute;
	top:0;
	right:-34px;

	width: 22px;
	height: 22px;
	font-size: 0;
	border:0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

.modal-content-show{
	display:block;
	animation: bounce 0.9s;
}

.modal-content-close::before,
.modal-content-close::after{
	content: "";
	position: absolute;
	top:10px;
	left:2px;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}

.modal-content-close::before{
	transform: rotate(45deg);
}

.modal-content-close::after{
	transform: rotate(-45deg);
}

.modal-content h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.modal-content p{
	margin: 0;
	margin-bottom: 14px;
}

.modal-content .login-form{
	margin-top: 30px;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
	width: 236px;
	margin:0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;

	font-size: 14px;
	line-height: 24px;
	font-family:"PT Sans Narrow","Arial", sans-serif;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border:2px solid #000;
	outline: none;
}

.login-form input:focus{
	border-color:#663d15;
}

.login-form input.icon-user{
	background-image: url("../img/man.png");
	background-repeat: no-repeat;
	background-position: 100% -504px;
}
.login-form input.icon-password{
	background-image: url("./img/lock.png");
	background-repeat: no-repeat;
	background-position: 100% -45px;
}

.login-form .restore{
	float: right;
	color: #000;
}
.login-form .btn{
	width: 100%;
	margin-top: 15px;

}

.login-checkbox input[type="checkbox"]{
	display: none;
}
.login-checkbox input[type="checkbox"]+.checkbox-indicator{
	position: absolute;
	top:-3px;
	left:0;
	width: 17px;
	height: 17px;
	border:2px solid #000;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[tupe="checkbox"]:checked+.checkbox-indicator::after{
	content: "";
	position: absolute;
	top:8px;
	left:1px;
	width: 15px;
	height: 2px;
	background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before{
	transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after{
	transform: rotate(-45deg);
}

.login-checkbox{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.login-checkbox:hover{
	color: #663d15;
}

.modal-content-map{
	position: fixed;
	top:50%;
	left:50%;
	
	width: 766px;
	height: 561px;

	margin-top: 280px;
	margin-left: -390px;

	background: #e9e5dc url("../img/map.png");
	border:7px solid #fff;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);

	display: none;
}

@keyframes bounce{
	0% {
		transform: translateY(-2000px);
	}
	70%{
		transform: translateY(30px);
	}
	90%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}

/*
.modal-overlay{
	position: fixed;
	top:0;
	left:0;
	z-index: 10;

	width: 100%;
	height: 100%;

	background: rgba(0,0,0,0.5);
}*/