html,body{
    min-height: 2256px;
    min-width: 1200px;
    padding: 0;
    margin:0;
}

.header{
    background-color: #eeeeee;
    height: 436px;
    }

body,header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}

.container{
   margin:0 auto;
   width: 900px;
}



.clearfix::after{
    content: "";           
	display: table;
	clear: both;

}


.main-navigation{
    padding-top:61px;
    height: 83px;

}
.main-navigation ul{
    list-style: none;
    padding: 0;
    margin:0;
    font-size: 0;
}
.main-navigation li{
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    position: relative;
    top:-35px;
    left: 350px;
   
}

.main-navigation a{
    font-size: 14px;
    color: #000;
    display: block;
    text-decoration: none;
    padding-left:45px; 
    
}

.main-navigation a:last-child{
     padding-left:50px; 
}

.fa-shopping-basket{
 font-size: 14px;
 position: relative;
 color:#a6a6a6;
top:-61px;
left:800px;
 
}

.logo img{
    position: relative;
margin-top:-30px;
}


.slider{
    height: 265px;
}

.info-left{
    float: left;
    width: 380px;
}

.info-left h1{
    font-size: 36px;
    line-height: 33px;
}
.info-left p{
    font-size: 16px;
    line-height: 22px;
    color: #727578;
}

.info-left a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 70px;
    color:#fff;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    background: #fb565a;
}

.info-left a:focus{
    background: #d6494d;
}


.info-right{
float: right;
width: 400px;

}

.info-right img{
    margin-left:50px;
}

.things{
    height: 460px;
}

.things-choose{
    margin-top:80px;
    margin-bottom: 80px;
    width: 240px;
    display: inline-block;
    margin-right:55px;

}

.things-choose:last-child{
    margin-right: 0;
}


.things-choose h2{
    font-size: 18px;
    line-height: 33px;
}

.things-choose p{
    font-size: 15px;
    line-height: 22px;
}

.things-choose a{
    
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-align: center;
   
    line-height: 18px;
   
    display: inline-block;
    padding: 15px 40px;
    border-radius: 4px;
}

.buttonsite{
    background-color: #fb565a;
}

.buttonsite:focus{
    background: #d6494d;
   /* animation:bounce 0.8s;*/
}

.buttonapp{
    background-color: #00ca74;
}
.buttonapp:focus{

background: #01a25e;
}

.buttonpres{
    background-color: #efc84a;
}

.buttonpres:focus{
    background:#e3b72b;
}
.rect1{
    outline: 1px solid #eeeeee;
 
   
}

.about{
    height: 470px;
    margin: 70px 0;
    margin-top:40px;
}

.about-left,.about-right{
    margin: 60px 0;
}

.about-left{
    width: 570px;
   float: left;
}

.about-left h3{
    font-size: 16px;
    line-height: 22px;
    color:#283136; 
    text-transform: uppercase;
    margin-top: 30px;
}

.about-left h2{
    margin-top:25px;
    font-size: 36px;
    line-height: 36px;
}
.about p{
    font-size: 16px;
    line-height: 22px;
    color:#283136;
}
.about-right{
    width: 260px;
    float: right;
}

.about-right h2{
    overflow: hidden;
    font-size: 16px;
    color:#000;
    text-align: center;
    margin-top:40px;
}

.about-right h2::after,.about-right h2::before{
    content: '';

    /* делаем линию строчно-блочной */
    display: inline-block;
  
    /* выравниваем вертикально по середине */
    vertical-align: middle;
  
    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;
  
    /* установка ширины в 100% делает линию равной ширине тега заголовка
    ** благодаря этому линия заполнит все свободное пространство
    ** слева и справа от текста
    */
    width: 100%;
    height: 2px;
    background-color: #eee;
 /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
  ** благодаря этому создается нужный отступ между линиями и текстом
  */
    border: solid #FFF;
  border-width: 0 10px;
}
.about-right h2::before{
    margin-left:-100%;
}
.about-right h2::after{
    margin-right: -100%;
}

.about-right h3{
    margin-top: 60px;
    font-size: 16px;
    line-height: 22px;
    color:#283136;
    text-transform: uppercase;
}



.features{
    list-style: none;
}




.features li{
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    margin-top:28px;
}

.features li::before{
    content: "";
    position: absolute;
    top:8px;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.studio{
    height: 108px;
    width: 900px;
    margin: 45px 0;
    display: inline-block;
    text-align: center;
}

.studio img{
    margin-right: 100px;
}
.studio img:first-child{
    position: relative;
   top:-10px;
}

.studio img:last-child{
    margin-right:0;
}

.location{
    height: 417px;
    background: url("../img/map.jpg") no-repeat center;
    margin: 80px auto;
    width: 100%;
}

.address{
    background: #fff;
    height: 240px;
    width: 250px;
    position: absolute;
    left: 50%;
    margin-left: -440px;
    top:1830px;
   
}

.address h2{
padding: 10px 20px 0;
font-size: 16px;
line-height: 33px;
}

.address p{
    color: #8f8f8f;
    padding: 0 20px;
    font-size: 16px;
    line-height: 20px;
}

.address a{
    position: relative;
    left: 20px;
    padding-bottom: 25px; 
    display:inline-block;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color:#fff;
    background-color: #fb565a;
    padding: 15px 53px;

   border-radius: 2px;
}

.address a:focus{
    background-color: #d6494d;
}

footer{
    height:219px;
}

.social-block{
   
    margin-right: 80px;
}

.social{
display: inline-table;
    width: 60px;
    height: 60px;
    border-radius: 150px;
    background-color: #e1e1e1;
    margin-right: 30px;
}
.fa-vk,.fa-facebook,.fa-instagram{
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: relative;
    left: 22px;
    top:20px;
    
}

.slogan {
    
    float: right;
    margin-top: -90px;
}

.slogan h1{
font-size: 36px;
line-height: 36px;
}

.slogan h2{
    font-size: 16px;
    margin-top: -15px;
    line-height: 22px;
}

.modal-content{
position:absolute;
width: 630px;
height: 416px;
background: #fff;
top:220%;
left: 50%;
margin-left: -320px;
display: none;
animation: leftmove 0.8s;

box-shadow:  0 11px 20px 10px #999690;
}

.modal-content-block{
   margin:80px 90px 50px 80px; 
}

.modal-content-block p{
    font-size: 16px;
    color: #000;
    
}
.name-p{
    position: absolute;
    top: 35px;
}
.email-p{
    position: absolute;
    left: 310px;
    top:35px;
}
.letter-p{
    position: absolute;
   top: 130px;
}


.modal-content-block a{
    text-decoration: none;
    text-transform: uppercase;
display: block;
color: #fff;
background-color: #fb565a;
padding: 15px 195px;
border-radius: 2px;
text-align: center;
font-size: 12px;
line-height: 18px;
margin-top:20px;
}

.modal-content-show{
    display:block;
}


.send-message input{
   box-sizing: border-box;
   
    width: 217px;
   padding: 12px 12px;
   border-radius: 2px;
   margin-bottom: 48px;
   outline: none;
   border: 2px solid #d7dcde;
   color: #000;
   font-size: 12px;
   line-height: 18px;
}
.send-message input[type=text]{/*ДЛЯ ОБРАЩЕНИЯ К КОНКРЕТНОМУ ИНПУТУ*/
    margin-right: 20px;
    
}
/*Пример дополнительного обращения
.send-message input[type=email]{ 
margin-right: 0px; 
}*/
.send-message textarea{
    width: 425px;
    height: 115px;
    padding: 12px 15px;

    resize: none;
    outline: none;
    border: 2px solid #d7dcde;
    color: #000;
    font-size: 12px;
    line-height: 18px;
}

/*КРЕСТИК ЧЕРЕЗ СПАН*/
.close{/*СПАНОВЫЙ БЛОК КРУЖОК*/
   position: absolute;
   background-color: #fb565a;
   width:42px;
   height:42px;
   border-radius: 20px;
   top:6px;
   left:583px;
   cursor: pointer;
   
}

.close::after,.close::before{
    position: absolute;
    left: 18px;
    top: 10px;
    height: 20px;
    width: 4px;
    background-color: #fff;
    content: "";
}

.close::after{
    transform: rotate(-45deg);
}
.close::before{
    transform: rotate(45deg);
}



.send-message p{
    position: absolute;
}

.send-message input:last-child{
    width: 480px;
    height: 111px;
    margin-right: 0;
}




@keyframes leftmove{
    0%{
        transform:translateX(-500px);
    }
   
    80%{
        transform:translateX(30px);
    }

    90%{
        transform:translateX(10px);
    }
   100%{
        transform:translateX(0);
    }
}


