html,body{
	max-height: 5932px;
	min-width: 1366px;
	padding: 0;
	margin:0;
}

header{
	text-transform: uppercase;
	height: 750px;
	background: #dedede url("../img/guy.jpg") no-repeat center top; 
}

body{
	font-family: 'Asap', sans-serif;
	color: #4d4d4d;
}

p{
	font-size: 16px;
	
}

div{
	box-sizing: border-box;
}


.container{
	padding:0;
	margin: 0 auto;
	width: 1170px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.main-navigation{

	width: 535px;
	float: right;
	max-height: 90px;
	margin-top: -20px;
	margin-bottom: 165px;
}

.main-navigation ul{

	font-size: 0;
	list-style: none;
	padding: 0;
	margin:0;

}
.main-navigation li{

	vertical-align: top;
	font-size: 16px;
	display: inline-block;
}

.main-navigation a{
	text-decoration: none;
	display: block;

	color:#4d4d4d;
	padding: 0 40px;
}

.main-navigation a:last-child{
	padding-right:0;
}


.main-navigation a:hover{
text-decoration: underline;
text-underline-position: under;

}

.logo{
	
	vertical-align: top;
	max-width: 500px;
	
	max-height: 90px;
	position: relative;
	top:30px;
}

.center-header{
	
display: block;
	font-family: "Asap Medium",sans-serif;
}

.center-header h1{
	text-transform: capitalize;
	font-size: 90px;
	margin-bottom: 0;

}
.center-header p{
	margin-top: 0;
	color: #c6c6c6;
	font-size: 22px;
}

.center-header a{
	display: inline-block;
	margin-top: 30px;
	margin-right: 20px;
	padding: 20px 30px;
	background-color: #dedede;
	border: 1px solid #4d4d4d;
	text-decoration: none;
	color: #4d4d4d;
}
.center-header a:last-child{
	padding:20px 46px;
}


.center-header a:hover{
	background-color: #fff;
	border: none;
	box-shadow: 5px 5px 10px #c6c6c6; 
}


.about{
	height: 700px;

}

.rect1{
	outline: 3px solid #7a7a7a;
	width: 60px;
}

.aboutme{
	float: left;
	margin-top: 175px;
	width: 532px;
}

.boH{
	font-size: 46px;
	font-weight: bold;
	line-height: 49px;
		font-family: "Asap bold",sans-serif;
	color: #7c7c7c;
	text-transform: uppercase;
}

.aboutme p{
	width: 467px;
	line-height: 26px;
	color: #4d4d4d;
	padding-bottom: 35px;
}

.aboutme a{
	padding:18px 47px;
	border: 1px solid #4d4d4d;
	text-decoration: none;
	color: #4d4d4d;
}

.aboutme a:hover{
	background-color: #fff;
	border: none;
	box-shadow: 5px 5px 10px #c6c6c6; 
}

.plan{
	margin-top: 110px;
	float: right;
}

.services{
	background-color: #dedede;
	height: 693px;
	text-align: center;
}



 .se{

 	margin-top: 140px;
 	display: inline-block;
 	margin-bottom: 43px;
	
}


.rect2{

position: relative;
top: 120px;
left:550px;
	width: 60px;
	outline: 2px solid #7a7a7a;
}

.services-block{
	
	margin:0px auto 120px;
	display: inline-block;
	height: 340px;
	width: 1000px;
}

.services-item{
	
	width: 160px;
	height: 122px;
	float: left;

	margin-right: 250px;
	
	
}

.item2{
	margin-top: 80px;
}

.services-item:nth-child(3n){margin-right: 0;}

.services-name{
	display: block;
	font-size: 24px;
	color: #4d4d4d;
	font-family: "Asap Medium",sans-serif;
}

.skill{
	height: 767px;
	text-align: center;
}

.skill img{
	margin-top: 60px;

}

.portfolio{

	text-align: center;
	height: 1096px;
	background-color: #f6f6f6;

}

.portfolio-item{
	margin-right: 30px;
	margin-bottom: 30px;
}

.portfolio a{
	
	margin-top: 20px;
	margin-right: 20px;
	padding: 20px 50px;
	background-color: #f6f6f6;
	border: 1px solid #4d4d4d;
	text-decoration: none;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.portfolio a:hover{
	background-color: #fff;
	border: none;
	box-shadow: 5px 5px 10px #c6c6c6; 
}

.Testimonials {
	text-align: center;
	height: 711px;

}

.Testimonials-text{
width: 960px;
height: 350px;
	display:inline-block; 
	padding: 80px 70px 100px 130px;
	border: 1px solid #212121;
}
.Testimonials-text img{
		float: left;
		margin-right: 30px;
}
.Testimonials-text p {
	
text-transform: uppercase;

	font-size: 16px;
	color: #949494;
	
}
.Testimonials-text i{

	margin-right: 55%;
}

.Testimonials-text b{
	
float: left;
	display: block;
font-size: 30px;
}

.Funfact{
	height: 302px;
	background-color: #f6f6f6;
}

.Funfact-block{
	margin:50px 55px;
	display: inline-block;
	height: 200px;
	width: 1070px;
border: 1px solid red;
}

.Funfact-item{
		
	float: left;
	margin-right: 110px;
	width: 180px;
	height: 170px;
	text-align: center;
}


.Funfact-item:nth-child(4n){
	margin-right: 0;
}
.Funfact-item:nth-child(3n+2){
	margin-top: 20px;
}

.Funfact-name {
	display: block;
	font-size: 30px;
	text-align: center;
}

.Funfact-p{
	text-align: center;
	font-size: 22px;
	color: #454545;
	margin-top: 16px;
	text-transform: capitalize;
}

.nothing-bg{
	background-color: #fff;
	height: 155px;
}